<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f2c6ca01-5411-4f75-9389-b9a7dccdb388/resourceGroups/LunchAndLearn-AF/providers/Microsoft.Web/sites/lunch-and-learn-af</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://lunch-and-learn-af.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>lunch-and-learn-af.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lunch-and-learn-af</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lunch-and-learn-af</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>